In [1]:
import asyncio 
import requests
import pandas as pd
import json
from urllib.parse import urlencode, urlunparse

In [2]:
def get_weather_data():
    df = pd.read_csv('coordinates.csv')
    df_weather = pd.DataFrame(columns=['city','code_insee','datetime','rr10','rr1','probarain','weather','weather_text','tmin','tmax','wind10m','gust10m'])

    for code_insee in df['code_insee'].unique():
        url = 'https://api.meteo-concept.com/api/forecast/daily?'
        params = {
            'token': "e3d5025f48dd7dd7109ef9323194feaad5f9f639e58cd8d77df7e700e49f0777",
            'insee': code_insee,
            
        }
        r = requests.get(url=url,params=params)

        list_forecast = r.json()['forecast']

        for forecast in list_forecast[1:8]:
            new_row = pd.DataFrame(
                {
                    'city' : [df[df['code_insee'] == code_insee]['city'].iloc[0]],
                    'code_insee' : [code_insee],
                    'datetime':[ forecast['datetime']] ,
                    'rr10' : [forecast['rr10']] ,
                    'rr1': [forecast['rr1']],
                    'probarain': [forecast['probarain']],
                    'weather': [forecast['weather']],
                    'weather_text': [''],
                    'tmin': [forecast['tmin']],
                    'tmax' : [forecast['tmax']],
                    'wind10m' : [forecast['wind10m']],
                    'gust10m' : [forecast['gust10m']]
                }
            )
            df_weather = pd.concat([df_weather,new_row],ignore_index=True)

    df_annex = pd.read_csv('weather_annex.csv',encoding='ISO-8859-1')
    mapping_dict = df_annex.set_index('Code temps')['Description'].to_dict()
    df_weather['weather_text'] = df_weather['weather'].map(mapping_dict)

    return df_weather

In [3]:

df_weather = get_weather_data()

In [4]:
df_weather = get_weather_data()

df_weather['rainy_day'] = 0
df_weather['cold_day'] = 0
df_weather['hot_day'] = 0
df_weather['windy_day'] = 0
df_weather['total_day'] = 0

df_weather.loc[df_weather['tmax'] >= 35, 'hot_day'] = 1
df_weather.loc[df_weather['tmax'] <20, 'cold_day'] = 1
df_weather.loc[df_weather['rr1'] >10, 'rainy_day'] = 1
df_weather.loc[df_weather['rr10'] >10, 'rainy_day'] = 1
df_weather.loc[df_weather['rr10'] >10, 'rainy_day'] = 1
df_weather.loc[df_weather['wind10m'] >50, 'windy_day'] = 1
df_weather.loc[df_weather['gust10m'] >50, 'windy_day'] = 1

df_weather['total_day'] =  df_weather[['hot_day', 'cold_day', 'rainy_day','windy_day']].max(axis=1)

df_weather

,city,code_insee,datetime,rr10,rr1,probarain,weather,weather_text,tmin,tmax,wind10m,gust10m,rainy_day,cold_day,hot_day,windy_day,total_day
0,Mont Saint Michel,50353,2024-08-12T02:00:00+0200,0,0,10,3,Nuageux,19,26,15,45,0,0,0,0,0
1,Mont Saint Michel,50353,2024-08-13T02:00:00+0200,0,0,10,3,Nuageux,16,25,15,30,0,0,0,0,0
2,Mont Saint Michel,50353,2024-08-14T02:00:00+0200,0.2,0.2,30,40,Averses de pluie locales et faibles,16,22,15,35,0,0,0,0,0
3,Mont Saint Michel,50353,2024-08-15T02:00:00+0200,0.2,0.2,50,40,Averses de pluie locales et faibles,14,22,15,23,0,0,0,0,0
4,Mont Saint Michel,50353,2024-08-16T02:00:00+0200,3.1,8.9,60,40,Averses de pluie locales et faibles,15,21,20,29,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,La Rochelle,17300,2024-08-14T02:00:00+0200,1.2,3.2,70,3,Nuageux,19,21,15,36,0,0,0,0,0
241,La Rochelle,17300,2024-08-15T02:00:00+0200,0,0,40,3,Nuageux,17,23,15,28,0,0,0,0,0
242,La Rochelle,17300,2024-08-16T02:00:00+0200,0.2,0.2,50,40,Averses de pluie locales et faibles,17,23,20,29,0,0,0,0,0
243,La Rochelle,17300,2024-08-17T02:00:00+0200,0.4,0.4,50,40,Averses de pluie locales et faibles,17,22,20,30,0,0,0,0,0
244,La Rochelle,17300,2024-08-18T02:00:00+0200,0,0,50,3,Nuageux,16,22,20,28,0,0,0,0,0

In [158]:
df_weather[df_weather['city']=='Biarritz']

,city,code_insee,datetime,rr10,rr1,probarain,weather,weather_text,tmin,tmax,wind10m,gust10m,rainy_day,cold_day,hot_day,total_day,windy_day
224,Biarritz,64122,2024-08-11T02:00:00+0200,0,0,10,1,Peu nuageux,23,41,15,56,0,0,1,1,1
225,Biarritz,64122,2024-08-12T02:00:00+0200,2.2,3.5,70,4,Très nuageux,22,23,15,31,0,0,0,0,0
226,Biarritz,64122,2024-08-13T02:00:00+0200,4.7,7,80,40,Averses de pluie locales et faibles,20,22,10,28,0,0,0,0,0
227,Biarritz,64122,2024-08-14T02:00:00+0200,4.1,18,60,41,Averses de pluie locales,17,22,10,20,1,0,0,1,0
228,Biarritz,64122,2024-08-15T02:00:00+0200,0.6,0.6,60,40,Averses de pluie locales et faibles,17,22,10,20,0,0,0,0,0
229,Biarritz,64122,2024-08-16T02:00:00+0200,0,0,40,3,Nuageux,16,23,10,18,0,0,0,0,0
230,Biarritz,64122,2024-08-17T02:00:00+0200,0.4,4,60,41,Averses de pluie locales,17,22,10,18,0,0,0,0,0

In [7]:
df_aggregated = df_weather.groupby('city')[['total_day','rainy_day','cold_day','hot_day','windy_day','rr10', 'rr1', 'tmin', 'tmax','wind10m','gust10m']].agg(['sum', 'mean']).reset_index()
df_aggregated.columns = ['_'.join(col).strip() if col[1] else col[0] for col in df_aggregated.columns.values]
df_aggregated=  df_aggregated.sort_values(by=['total_day_sum','rr10_mean','tmax_mean'],ignore_index=True)

columns_to_remove = ['total_day_mean','rainy_day_mean','cold_day_mean','hot_day_mean','windy_day_mean','tmin_sum','tmax_sum','wind10m_sum','gust10m_sum','rr10_sum','rr1_sum']
for column in columns_to_remove:
    del df_aggregated[column] 

df_aggregated['id'] = df_aggregated.index + 1

df_aggregated

,city,total_day_sum,rainy_day_sum,cold_day_sum,hot_day_sum,windy_day_sum,rr10_mean,rr1_mean,tmin_mean,tmax_mean,wind10m_mean,gust10m_mean,id
0,Marseille,0,0,0,0,0,0.0,0.0,23.0,28.142857,14.285714,28.285714,1
1,Cassis,0,0,0,0,0,0.0,0.0,23.0,28.428571,14.285714,28.428571,2
2,Bormes les Mimosas,0,0,0,0,0,0.0,0.0,23.857143,29.0,13.571429,30.142857,3
3,Aix en Provence,0,0,0,0,0,0.0,0.0,22.571429,30.857143,12.857143,27.857143,4
4,Collioure,0,0,0,0,0,0.142857,0.428571,21.857143,27.428571,17.857143,30.714286,5
5,Ariege,0,0,0,0,0,0.342857,1.142857,15.142857,26.0,13.571429,29.571429,6
6,Gorges du Verdon,0,0,0,0,0,0.342857,1.142857,15.142857,26.0,13.571429,29.571429,7
7,Saintes Maries de la mer,0,0,0,0,0,0.414286,0.785714,22.428571,28.571429,16.428571,32.285714,8
8,La Rochelle,0,0,0,0,0,0.557143,0.842857,18.142857,22.857143,17.857143,32.714286,9
9,Mont Saint Michel,0,0,0,0,0,0.585714,1.671429,15.285714,22.571429,15.714286,30.571429,10
10,Aigues Mortes,0,0,0,0,0,0.642857,1.142857,22.285714,28.714286,14.285714,30.0,11
11,Nimes,0,0,0,0,0,0.857143,1.142857,21.428571,31.285714,15.714286,29.571429,12
12,Carcassonne,0,0,0,0,0,0.957143,1.885714,19.428571,30.428571,14.285714,30.142857,13
13,Uzes,0,0,0,0,0,0.957143,1.357143,20.142857,31.571429,15.714286,30.714286,14
14,Dijon,0,0,0,0,0,1.385714,2.471429,17.142857,26.0,10.0,20.571429,15
15,Montauban,0,0,0,0,0,1.8,2.414286,17.285714,28.714286,10.714286,26.285714,16
16,St Malo,1,0,0,0,1,0.571429,1.657143,15.428571,21.285714,16.428571,32.571429,17
17,Biarritz,1,0,0,0,1,1.0,1.657143,18.714286,23.142857,12.142857,27.714286,18
18,Bayonne,1,0,0,0,1,1.042857,1.728571,18.571429,23.428571,11.428571,25.0,19
19,Lyon,1,0,0,1,0,1.257143,2.271429,19.142857,28.714286,9.285714,23.0,20
20,Paris,1,0,0,1,0,1.257143,1.757143,17.714286,26.142857,10.714286,23.428571,21
21,Amiens,1,0,0,1,0,1.357143,2.342857,16.285714,24.285714,13.571429,29.285714,22
22,Rouen,1,0,0,1,0,1.457143,2.771429,16.0,24.714286,12.857143,28.857143,23
23,Lille,1,0,0,1,0,1.528571,2.985714,17.0,24.0,14.285714,30.714286,24
24,Toulouse,1,0,0,1,0,1.6,2.1,17.857143,28.571429,11.428571,28.0,25
25,Grenoble,1,0,0,1,0,1.628571,2.485714,19.714286,29.571429,8.571429,18.0,26
26,Annecy,1,1,0,0,0,2.314286,4.628571,17.428571,26.857143,5.714286,15.714286,27
27,Besancon,1,1,0,0,0,2.785714,5.428571,18.142857,26.0,5.714286,22.142857,28
28,Avignon,2,0,0,2,0,0.285714,0.714286,21.857143,33.0,15.714286,29.571429,29
29,Eguisheim,2,2,0,0,0,3.142857,6.128571,17.571429,25.857143,6.428571,21.428571,30
30,Chateau du Haut Koenigsbourg,2,2,0,0,0,3.142857,6.028571,17.571429,26.0,7.857143,22.571429,31
31,Colmar,2,2,0,0,0,3.171429,6.057143,18.714286,27.0,6.428571,21.857143,32
32,Bayeux,3,1,2,0,0,0.914286,2.7,16.0,23.142857,15.0,31.714286,33
33,Le Havre,3,0,3,0,0,1.242857,2.771429,16.714286,21.857143,16.428571,31.571429,34
34,Strasbourg,3,2,0,1,1,2.885714,5.828571,18.285714,27.0,8.571429,26.142857,35

In [15]:
def get_city_ranking(df_weather,tmin=20,tmax=35,rainmax=10,windmax=50):

    #Add a coloum to know if a day is rainy/cold/hot/windy. The ranking will be done based on the number of days that have a low number of days not in the scipe
    df_weather['rainy_day'] = 0
    df_weather['cold_day'] = 0
    df_weather['hot_day'] = 0
    df_weather['windy_day'] = 0
    df_weather['total_day'] = 0

    df_weather.loc[df_weather['tmax'] >= tmax, 'hot_day'] = 1
    df_weather.loc[df_weather['tmax'] <tmin, 'cold_day'] = 1
    df_weather.loc[df_weather['rr1'] >rainmax, 'rainy_day'] = 1
    df_weather.loc[df_weather['rr10'] >rainmax, 'rainy_day'] = 1
    df_weather.loc[df_weather['wind10m'] >windmax, 'windy_day'] = 1
    df_weather.loc[df_weather['gust10m'] >windmax, 'windy_day'] = 1

    df_weather['total_day'] =  df_weather[['hot_day', 'cold_day', 'rainy_day','windy_day']].max(axis=1)

    df_aggregated = df_weather.groupby('city')[['total_day','rainy_day','cold_day','hot_day','windy_day','rr10', 'rr1', 'tmin', 'tmax','wind10m','gust10m']].agg(['sum', 'mean']).reset_index()
    df_aggregated.columns = ['_'.join(col).strip() if col[1] else col[0] for col in df_aggregated.columns.values]
    df_aggregated=  df_aggregated.sort_values(by=['total_day_sum','rr10_mean','tmax_mean'],ignore_index=True)

    columns_to_remove = ['total_day_mean','rainy_day_mean','cold_day_mean','hot_day_mean','windy_day_mean','tmin_sum','tmax_sum','wind10m_sum','gust10m_sum','rr10_sum','rr1_sum']
    for column in columns_to_remove:
        del df_aggregated[column] 

    df_aggregated['id'] = df_aggregated.index + 1

    return df_aggregated

In [19]:
df_ranking = get_city_ranking(df_weather,20,25)
df_ranking

,city,total_day_sum,rainy_day_sum,cold_day_sum,hot_day_sum,windy_day_sum,rr10_mean,rr1_mean,tmin_mean,tmax_mean,wind10m_mean,gust10m_mean,id
0,La Rochelle,1,0,0,1,0,0.557143,0.842857,18.142857,22.857143,17.857143,32.714286,1
1,St Malo,1,0,0,1,1,0.571429,1.657143,15.428571,21.285714,16.428571,32.571429,2
2,Biarritz,1,0,0,0,1,1.0,1.657143,18.714286,23.142857,12.142857,27.714286,3
3,Bayonne,1,0,0,0,1,1.042857,1.728571,18.571429,23.428571,11.428571,25.0,4
4,Mont Saint Michel,2,0,0,2,0,0.585714,1.671429,15.285714,22.571429,15.714286,30.571429,5
5,Amiens,2,0,0,2,0,1.357143,2.342857,16.285714,24.285714,13.571429,29.285714,6
6,Lille,2,0,0,2,0,1.528571,2.985714,17.0,24.0,14.285714,30.714286,7
7,Ariege,3,0,0,3,0,0.342857,1.142857,15.142857,26.0,13.571429,29.571429,8
8,Gorges du Verdon,3,0,0,3,0,0.342857,1.142857,15.142857,26.0,13.571429,29.571429,9
9,Paris,3,0,0,3,0,1.257143,1.757143,17.714286,26.142857,10.714286,23.428571,10
10,Dijon,3,0,0,3,0,1.385714,2.471429,17.142857,26.0,10.0,20.571429,11
11,Rouen,3,0,0,3,0,1.457143,2.771429,16.0,24.714286,12.857143,28.857143,12
12,Besancon,3,1,0,3,0,2.785714,5.428571,18.142857,26.0,5.714286,22.142857,13
13,Le Havre,4,0,3,1,0,1.242857,2.771429,16.714286,21.857143,16.428571,31.571429,14
14,Eguisheim,4,2,0,3,0,3.142857,6.128571,17.571429,25.857143,6.428571,21.428571,15
15,Chateau du Haut Koenigsbourg,4,2,0,3,0,3.142857,6.028571,17.571429,26.0,7.857143,22.571429,16
16,Colmar,4,2,0,4,0,3.171429,6.057143,18.714286,27.0,6.428571,21.857143,17
17,Annecy,5,1,0,5,0,2.314286,4.628571,17.428571,26.857143,5.714286,15.714286,18
18,Strasbourg,5,2,0,4,1,2.885714,5.828571,18.285714,27.0,8.571429,26.142857,19
19,Bayeux,6,1,2,3,0,0.914286,2.7,16.0,23.142857,15.0,31.714286,20
20,Marseille,7,0,0,7,0,0.0,0.0,23.0,28.142857,14.285714,28.285714,21
21,Cassis,7,0,0,7,0,0.0,0.0,23.0,28.428571,14.285714,28.428571,22
22,Bormes les Mimosas,7,0,0,7,0,0.0,0.0,23.857143,29.0,13.571429,30.142857,23
23,Aix en Provence,7,0,0,7,0,0.0,0.0,22.571429,30.857143,12.857143,27.857143,24
24,Collioure,7,0,0,7,0,0.142857,0.428571,21.857143,27.428571,17.857143,30.714286,25
25,Avignon,7,0,0,7,0,0.285714,0.714286,21.857143,33.0,15.714286,29.571429,26
26,Saintes Maries de la mer,7,0,0,7,0,0.414286,0.785714,22.428571,28.571429,16.428571,32.285714,27
27,Aigues Mortes,7,0,0,7,0,0.642857,1.142857,22.285714,28.714286,14.285714,30.0,28
28,Nimes,7,0,0,7,0,0.857143,1.142857,21.428571,31.285714,15.714286,29.571429,29
29,Carcassonne,7,0,0,7,0,0.957143,1.885714,19.428571,30.428571,14.285714,30.142857,30
30,Uzes,7,0,0,7,0,0.957143,1.357143,20.142857,31.571429,15.714286,30.714286,31
31,Lyon,7,0,0,7,0,1.257143,2.271429,19.142857,28.714286,9.285714,23.0,32
32,Toulouse,7,0,0,7,0,1.6,2.1,17.857143,28.571429,11.428571,28.0,33
33,Grenoble,7,0,0,7,0,1.628571,2.485714,19.714286,29.571429,8.571429,18.0,34
34,Montauban,7,0,0,7,0,1.8,2.414286,17.285714,28.714286,10.714286,26.285714,35